<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Consuming External API Demo</h1><hr>
    <h2>Your Geographic Information</h2>
    <h3>Your IP Address:{{ip}}</h3>
    <h3>Your continent_name:{{continent_name}}</h3>
    <h3>Your country_name:{{country_name}}</h3>
    <h3>Your region_name:{{region_name}}</h3>
    <h3>Your city:{{city}}</h3>
    <h3>Your zip:{{zip}}</h3>
    <h3>Your longitude:{{longitude}}</h3>
    <h3>Your latitude:{{latitude}}</h3>
  </body>
</html>
